/*цвет основного текста #212121*/
/*вторичный цвет #757575*/
/*акцент #2196F3*/
/*белый #FFFFFF*/
/* background  #FFFFFF;*/
/* вторичный фон #F5F4FA*/

* {
  margin: 0;
  border: 0;
}
body {
  background-color: #ffffff;
  color: #212121;
}
ul {
  list-style: none;
}

/* шапка сайта*/

.header a {
  text-decoration: none;
}
.logo {
  font-weight: bold;
  width: 153px;
  height: 31px;
  font-size: 26px;
  line-height: 31px;
  color: #212121;
}
.logo-text {
  color: #2196f3;
}
.site-links {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #212121;
}

.site-nav a:hover,
.site-nav a:focus {
  color: #2196f3;
}

.mail-tel a {
  color: #757575;
}
.mail-tel a:hover,
.mail-tel a:focus {
  color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Герой */
.hero-text {
  color: #ffffff;
  text-transform: uppercase;
  background-color: aqua;
}
/* Особенности */

.features-title {
  color: #212121;
}
.features-text {
  color: #757575;
  width: 270px;
}

/* Чем мы занимаемся */

.work-title {
  color: #212121;
  font-weight: bold;
  font-size: 36px;
}
.work-text {
  color: #ffffff;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}
